<!-- Carousel ================================================== -->
<div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel" data-interval="10000">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">
		<div class="item active" id="first">
			<!-- <img src="/images/teasers/carousels/x.png" alt="A red Xceptance X" title="The Single Red X"> -->
			<div class="carousel-caption">
				<h1>{% t homepage.carousel.service_slide.text %}</h1>
				<a class="btn btn-primary" href="{{ 'services/' | to_absoluteurl }}" role="button">{% t homepage.carousel.service_slide.btn %}</a>
			</div>
		</div>

        <div class="item">
			<div class="carousel-caption contrast">
				<h1>{% t homepage.carousel.dw_slide %}</h1>
				<a style="visibility:hidden;" class="btn btn-primary" href="{{ 'services/demandware.html' | to_absoluteurl }}" role="button">{% t global.link.learnmore %}</a>
			</div>
		</div>

        <div class="item">
			<div class="carousel-caption contrast">
				<h1>{% t homepage.carousel.load_slide %}</h1>
				<a class="btn btn-primary" href="{{ 'xlt/download.html' | to_absoluteurl }}" role="button">{% t global.button.download %}</a>
			</div>
		</div>
	</div>

	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="fa fa-chevron-right"></span></a>
<!--
	<img id="moose" src="/images/homepage/moose2.png" alt="Merry XMas" title="Christmas 2014" />
-->
</div><!-- /.carousel -->
