---
layout: news
title: news.archive.title
description: news.archive.description

navName: News Archive
mainNavLinkName: 
subNavLinkName: Archive
parent: News
---
<div id="news-archive">
	<div class="row">
		<div class="container">
			<div class="col-sm-3 col-md-2 headline">
				<p><i class="fa fa-comment-o fa-3x"></i></p>
				<h2>{% t news.archive.headline %}</h2>
			</div>
			<div class="col-sm-9 col-md-5">
				{% for news in site.categories.news limit:15%}
				<div class="news-post news-post-{{forloop.index}}">
					<span class="meta">{% t news.when %}</span>
					<a href="{{ news.url | to_absoluteurl }}">{% t news.title %}</a>
				</div>
				<hr>
				{% endfor %}								
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-0">
				{% for news in site.categories.news limit:15 offset:15%}
				<div class="news-post news-post-{{forloop.index}}">
					<span class="meta">{% t news.when %}</span>
					<a href="{{ news.url | to_absoluteurl }}">{% t news.title %}</a>				
				</div>
				<hr>	
				{% endfor %}
			</div>
		</div>
	</div>
</div>
