<div class="row" id="footer-information">
	<div class="container">
        <div id="addresses">
			<div class="col-sm-4 col-md-3">
				<div class="footer-contact">
				<h3>Jena, {% t contact.germany.address-country %} <span class="meta">{% t contact.germany.head %}</span></h3>
				<div class="vcard">
					<div class="fn org">Xceptance GmbH</div>
					<div class="email"><i class="fa fa-envelope fa-fw"></i> kontakt@xceptance.de</div>
					<div class="tel"><i class="fa fa-phone fa-fw"></i> <span class="type">work</span>+49-3641-376300</div>
					<div class="tel"><i class="fa fa-phone fa-fw"></i> <span class="type">work</span>+49-3641-55944-0</div>
					<div class="note">Headquarters and European Subsidiary</div>
				</div>
				</div>
				<div class="footer-contact">
				<h3>Cambridge, MA, USA</h3>
				<div class="vcard">
					<div class="fn org">Xceptance Inc.</div>
					<div class="email"><i class="fa fa-envelope fa-fw"></i> contact@xceptance.com</div>
					<div class="tel"><i class="fa fa-phone fa-fw"></i> <span class="type">work</span>+1-617-225-4335</div>
					<div class="note">North American Subsidiary</div>
				</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-2 col-md-2 col-md-offset-1">
			<ul>
				<li><a href="{{ 'company/' | to_absoluteurl }}">{% t navigation.sub.Company %}</a></li>
				<li><a href="{{ 'contact/' | to_absoluteurl }}">{% t navigation.main.Contact %}</a></li>
				<li><a href="{{ 'services/' | to_absoluteurl }}">{% t navigation.main.Services %}</a></li>
				<li><a href="{{ 'xlt/' | to_absoluteurl }}">{% t navigation.main.XLT %}</a></li>
				<li><a href="{{ 'company/references.html' | to_absoluteurl }}">{% t navigation.sub.References %}</a></li>
				<li><a href="{{ 'contact/privacy.html' | to_absoluteurl }}">{% t navigation.sub.Privacy %}</a></li>
			</ul>
		</div>
		<div class="col-xs-6 col-sm-2 col-md-2">
			<ul>
				<li><a href="https://blog.xceptance.com/"><i class="fa fa-pencil fa-fw"></i>Blog</a></li>
				<li><a href="https://www.xing.com/companies/xceptancesoftwaretechnologiesgmbh"><i class="fa fa-xing fa-fw"></i>Xing</a></li>
				<li><a href="https://www.linkedin.com/company/xceptance"><i class="fa fa-linkedin fa-fw"></i>LinkedIn</a></li>
				<li><a href="https://plus.google.com/+Xceptance/posts"><i class="fa fa-google-plus fa-fw"></i>Google+</a></li>
				<li><a href="https://github.com/Xceptance/"><i class="fa fa-github fa-fw"></i>GitHub</a></li>
			</ul>
		</div>
		<div class="clearfix visible-xs"></div>
		<div class="col-sm-4 col-md-4" id="news-section">
			<h3>{% t news.latest %}</h3>

			{% for post in site.categories.news limit:3 %}
			<p class="meta newsdate">{% t post.when %}</p>
			<p><a href="{{ post.url | to_absoluteurl }}">{% t post.title %}</a></p>		
			{% endfor %}
		</div>
	</div>
</div>

<div class="row" id="copyright">
	<div class="container">
		<div class="col-md-12">
			<p><a href="{{ page.url | to_absoluteurl }}#page" class="pull-right visible-xs-inline"><i class="fa fa-chevron-up fa-fw"></i>{% t global.link.top%}</a>
            &copy; Copyright Xceptance 2016</p>
        </div>
	</div>
</div>

<!-- just a little JS to switch prices -->
<script type="text/javascript">
    function showEURPrices() {
        $('.EUR-price').show();
        $('.USD-price').hide();
    }
    function showUSDPrices() {
        $('.USD-price').show();
        $('.EUR-price').hide();
    }
</script>
