
{% assign found = false %}
{% assign wasfound = false %}

{% for news in site.categories.news %}

	{% if news.id == page.id %}
		{% assign found = true %}
		{% assign wasfound = true %}
		
		{% if last %}<h3><a href="{{ last.url }}" title="{{ last.title }}">Next</a></h3>{% endif %}
	{% endif %} 

	{% if news.id != page.id and wasfound %}
		{% assign wasfound = false %}
		
		<h3><a href="{{ news.url }}" title="{{ news.title }}">Previous</a></h3>
	{% endif %} 
	
	{% assign last = news %}
{% endfor %}	
