<!DOCTYPE html>
<html lang="en">
	{% include head.html hashBasedTabbing=true %}

    <body class="general-page services demandware-testing local-scroll" id="page">
        {% include privacy-message.html %}

        {% include top-scroller.html %}

		<div id="navigation" class="navbar-fixed-top">
			<div class="container">
				{% include navigation.html isMainNavigation=true %}
			</div>
		</div>
        
        <header id="teaser">
			<div class="container">
				<div class="teaser-image">
					<div class="text-center col-md-offset-2 col-md-8 col-sm-12 col-xs-12" id="teaser-text">
						<h1>We are Demandware Partner.</h1>
                        <p class="subtitle">We have been testing Demandware SaaS since 2005. Benefit from our knowledge.</p>
					</div>
				</div>
			</div>
		</header>	

		<div id="main">
			{{ content }}
		</div>

		<footer>
			{% include footer.html %}
		</footer>
		
        {% include tracking.html %}
    </body>
</html>
