<div id="realtime-tab" class="tab {{include.row}}">
	<div class="row">
		<div class="container">
			<div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3">
				<p class="lead">
                    {% t xlt.features.realtime.details.lead %}
				</p>

                {% t xlt.features.realtime.details.text %}

				<p>
					<img src="/images/xlt/xlt-realtime-reporting.png"
						alt="{% t xlt.features.realtime.details.image.alt %}"
						title="{% t xlt.features.realtime.details.image.title %}" width="93%"/>
				</p>
			</div>
		</div>
	</div>
</div>
